head {
color: black;
background-color: black;
}

body {
color: black;
background-color: black;
}

  p {
    font-family: 'Perfect DOS VGA 437', sans-serif;
    font-size: 24;
    color: rgb(0, 255, 0);
  }

  .topnav {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: url('http://farm3.static.flickr.com/2464/3697567010_6ec9371123_o.gif');
    color: #000;
    text-decoration: none;
    box-shadow: 2px 2px wheat;
    text-shadow: 5px 20rem wheat !important;
}

.topnav > a {
  color: #000;
  font-size: 1.3rem;
}

  