head {
color: black;
background-color: black;
}

body {
color: black;
background-color: black;
}

  p {
    font-family: 'Perfect DOS VGA 437', sans-serif;
    font-size: 24;
    color: rgb(0, 255, 0);
  }

  .topnav {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    }

  