body {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#bg {
  width: 100svw;
  height: 100svh;
}

.window {
position: absolute;
left: 20%;
top: 40%;
user-select: none;
cursor: move;

}

  
  .window.porn {
    position: absolute;
    left: 60%;
    top: 50%;
    user-select: none;
    cursor: move;
    
    
    }
  
    .werapedogs {
      position: absolute;
      left: 60%;
      top: 50%;
      user-select: none;
      cursor: move;
      

    }