body {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#bg {
  width: 100svw;
  height: 100svh;
}

.window {
position: absolute;
left: 70%;
top: 40%;
user-select: none;
cursor: move;

}

  
 .window .porn {
    position: static;
    left: 20%;
    top: 50%;
    user-select: none;
    cursor: move;
    
    
 }

 .secondbox {
  position: absolute;
  left: 20%;
  top: 40%;
  user-select: none;
  cursor: move;
  margin: left 34px;;

 }

 .thirdbox {

  position: absolute;
  left: 50%;
  top: 10%;
  user-select: none;



 }

 .gif {

  height: fit-content;
  width: fit-content;
  

 }

 .box4 {

position: absolute;
left: 20%;
bottom: 10%;

 }
 
 .box5 {
  position: absolute;
  left: 50%;
  bottom: 30%;
 }