
p {
font-family: 'Perfect DOS VGA 437', sans-serif;
font-size: 50;
color: brown;

}

body {

    background-image: url(assets/a\ native\ chief\ met\ a\ libtard.jpg)

}

head {
    color: black;
    background-color: black;
    }
    
    body {
    color: black;
    background-color: black;
    }
    
      p {
        font-family: 'Perfect DOS VGA 437', sans-serif;
        font-size: 24;
        color: rgb(0, 255, 0);
      }
    
      body, html {
        height: 100%;
      }
      
      .bg {
        /* The image used */
        background-image: url("assets/xp\ lol.jpg");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
    