

body{
    background: url(url(http://farm3.static.flickr.com/2464/3697567010_6ec9371123_o.gif));
}
.smellmyassfinger{
    font-family: 'Perfect DOS VGA 437', sans-serif;
    font-size: larger;
    color: red !important;
}

.scalevid{
    scale: 10%;
}
.skitzo{
    color:green;
    font-family: 'Perfect DOS VGA 437', sans-serif;
    
    
}
