

body{
    background-color: black;
}
.smellmyassfinger{
    font-family: 'Perfect DOS VGA 437', sans-serif;
    font-size: larger;
    color: red !important;
}

.scalevid{
    scale: 10%;
}
.skitzo{
    color:rgb(0, 255, 0);
    font-family: 'Perfect DOS VGA 437', sans-serif;
    
    
}
.penis{
    margin-top: 3rem;
    position:middle;
    

}